section {
    padding: 50px 80px;
}



/** Cartes de la description **/

#description-cards {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 24px;
    justify-items: center;
    padding: 0px auto;
}

.card {
    background-color: white;
    width: 100%;
    vertical-align: top;
    margin: auto 0px;  
    position: relative;
    padding-bottom: 50px;
    height: 100%;
    box-sizing: border-box;
    transition: ease all 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-bottom: 1px solid white;
    transition: ease all 0.3s;
}

.card img:hover {
    scale: 1.025;
}

.card p, .card h1 {
    padding: 0px 30px;
}

.card h1 {
    font-size: 24px;
}

.card .bouton {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

/** Primary card **/

.card:first-child {
    background-color: var(--tencent-blue);
    color: white;
    grid-column: 1 / 3;
    width: 100%;
}

.card:first-child img {
    height: 200px;
}

/** Section FAQ **/

details {
    margin-top: 30px;
    font-family: 'Tencent Sans W7', sans-serif;
    animation: all 1s ease;
    border-bottom: 1px solid #e1e1e1;
}

details > summary {
    margin: 20px;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    color: var(--tencent-blue);
    cursor: pointer;
}