header {
    background-color: #0052d9;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

nav {
    margin-left: auto;
    padding: 10px 20px 10px 10px;
    font-family: 'Tencent Sans W3';
    list-style: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

nav a:hover {
    color: #80b1ff;
}

/** Tencent ID card **/

#tencent-id {
    display: block;
    position: absolute;
    background-color: #2bd900;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
}

.tencent-id-small:hover li {
    display: block;
}