.hero {
    background-image: url('../img/tencenthq.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    text-align: left;
    padding: 80px;
    position: relative;
}

.hero h1 {
    font-family: 'Tencent Sans W3';
    font-size: 3em;
    position: absolute;
    top: 80px;
    left: 80px;
    max-width: 600px;
}

.hero-boutons {
    position: absolute;
    bottom: 80px;
    left: 80px;
}

.bouton-bg {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}