main {
    margin: 0 80px;
}

#tencent-id-big { /** Logo Tencent ID **/
    width: 150px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

#profile {
    font-family: Tahoma;
}

/** Section avec la photo de profile **/

#profile > div > div:first-child { /** Div avec photo de profile **/
    display: inline-block;
}

#photo-de-profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#photo-de-profile > form {
    display: flex;
    justify-content: space-between;
}

input[type="file"]::file-selector-button {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    border: #b8b8b8 1px solid;
    background-color: #f0f0f0;
}

input[type="file"] {
    max-width: 100px;
    margin-right: 10px;
}

#photo-de-profile input[type="submit"] {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: #b8b8b8 1px solid;
    background-color: #f0f0f0;
}

#photo-de-profile {
    margin-right: 20px;
    margin-bottom: 20px;
}



/** Section avec le nom et la note **/

#profile > div > div:nth-child(2) {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#profile > div > div:nth-child(2) > p {
    font-size: 0.7em;
    font-style: bold;
    margin-top: 50px;
    margin-bottom: -20px;
}


/** Section des paramètres **/

#profile > form {
    width: fit-content;
    max-width: 50%;
    margin-top: 50px;
}