main {
    padding: 20px;
}

label:last-child {
    display: inline-block;
}

input[type="checkbox"] {
    display: inline-block;
}

#small-text {
    font-size: 0.8em;
    color: #666;
}