/* Ajout de Tencent Sans comme font custom */
@font-face {
    font-family: 'Tencent Sans W7';
    src: url('../fonts/TencentSansW7/tencentsans_w7-webfont.woff2') format('woff2'),
         url('../fonts/TencentSansW7/tencentsans_w7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: sans-serif;

}

@font-face {
    font-family: 'Tencent Sans W3';
    src: url('../fonts/TencentSansW3/TencentSansW3.woff') format('woff2'),
        url('../fonts/TencentSansW3/TencentSansW3.woff') format('woff');
    font-weight: normal;
    font-style: sans-serif;
}

body {
    margin: 0;
    background-color: #fbfbfb;
}

h1, h2, h3{
    font-family: 'Tencent Sans W7';
}

p, div {
    font-family: 'Tahoma';
}



/** Boutons **/
    
    /** Bouton Principal **/

.bouton {
    background-color: #0052d9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Tencent Sans W3';
    margin: 5px;
    display: inline-block;
    transition: all 0.4s;
}

.bouton:hover {
    background-color: #003bb5;
    transform: scale(1.1);
}



    /** Bouton Secondaire **/

.bouton-secondaire {
    background-color: white;
    color: #0052d9;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border:#003bb5 solid 1px;
    font-family: 'Tencent Sans W3';
    font-weight: bold;
    margin: 5px;
    display: inline-block;
    transition: all 0.4s;
}

.bouton-secondaire img {
    width: 20px;
    margin-right: 10px;
}

.bouton-secondaire:hover {
    background-color: #f2f2f2;
    transform: scale(1.1);
}