main > div {
    background-color: white;
    border: 1px solid #0052d9;
    margin: 80px auto;
    max-width: 600px;
    border-radius: 15px;
    min-height: 300px;
    height: fit-content;
    position: relative;

    padding: 20px;
    justify-content: center;
}

div > .bouton-secondaire {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0 auto;
    text-align: center;
}

main {
    min-height: 0px;
}