@font-face {
    font-family: 'TencentSansW3';
    src: url('TencentSansW3.woff2') format('woff2'),
        url('TencentSansW3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

